<h2>Veg Are People Too</h2>
<form action="/" method="POST">
  <label for="">Pick A Vegetable To Personify:</label>
  <input id="name" type="text" name="vegname">

  <h3>Relationships</h3>

  <label for="sig o">Sig O:</label>
  <input type="text" id="sig o" name="relationship[sigo][signame]">

  <label for="sig o dating time">Dating for how long:</label>
  <input type="number" id="sig o dating time" name="relationship[sigo][sigdatingtime]">

  <label for="monogamous?">Monogamous?</label>
  <input type="radio" id="monogamous?" name="relationship[sigo][monogamous_y]" value="y">Y</input>
  <input type="radio" id="monogamous?" name="relationship[sigo][monogamous_n]" value="n">N</input>

  <h3>Family</h3>

  <label for="dad mom1">Dad/Mom:</label>
  <input type="text" id="dad mom1" name="family[parents][0]">

  <br/>

  <label for="dad mom2">Dad/Mom:</label>
  <input type="text" id="dad mom2" name="family[parents][1]">

  <br/>

  <label for="bro sis1">Bro/Sis:</label>
  <input type="text" id="bro sis1 name" name="family[siblings][0][name]">
  <label for="bro sis1 intimidation">Is he/she an intimidating sibling?</label>
  <input type="radio" id="bro sis1 intimidation" name="family[siblings][0][intmdng]" value="y">Y</input>
  <input type="radio" id="bro sis1 intimidation" name="family[siblings][0][intmdng]" value="n">N</input>

  <h3>Work</h3>

  <label for="occupation">Occupation</label>
  <select id="occupation" name="job">
    <option value="Pokemon Stunt Double">Pokemon Stunt Double</option>
    <option value="Friday Night Dinner">Friday Night Dinner</option>
    <option value="Dev Teacher (for fruits)">Dev Teacher (for fruits)</option>
    <option value="Violin Player for Cleveland Orchestra">Violin Player for Cleveland Orchestra</option>
    <option value="Comedic Opener for The Daily Show">Comedic Opener for The Daily Show</option>
    <option value="Veg would rather not say...">Veg would rather not say...</option>
  </select>

  <h3>Recreational</h3>

  <label for="sport">Favorite Sport:</label>
  <select id="sport" name="sport">
    <option value="Football (EU version)">Football (EU version).</option>
    <option value="Football (US version)">Football (US version).</option>
    <option value="Raquetball, as long as Veg is wearing padding (bruises easily)">Raquetball, as long as Veg is wearing padding (bruises easily).</option>
    <option value="Golf, because the balls remind Veg of family">Golf, because the balls remind Veg of family.</option>
    <option value="Romping in the sack with Sig O">Romping in the sack with Sig O.</option>
    <option value="Veg is a comedian, so... No exercise">Veg is a comedian, so... No exercise.</option>
  </select>

  <br/>
  <label for="pasttime">Favorite Pasttime:</label>
  <select id="pasttime" name="pasttime">
    <option value="Singing like Devendra Banhardt">Singing like Devendra Banhardt.</option>
    <option value="Singing like Joanna Newsom">Singing like Joanna Newsom.</option>
    <option value="Crying to either Banhardt or Newsom">Crying to either Banhardt or Newsom.</option>
    <option value="Staring at reflection, questioning Life ('Am I alive?')">Staring at reflection, questioning Life ("Am I alive?").</option>
    <option value="Romping in the sack with Sig O">Romping in the sack with Sig O.</option>
    <option value="Making meat soup">Making meat soup.</option>
    <option value="Going to a Fruit dance club">Going to a Fruit dance club.</option>
  </select>

  <h3>Personal</h3>

  <label for="hope">Greatest Hope:</label>
  <select id="hope" name="hope">
    <option value="Veg will one day be over 3 inches high">Veg will one day be over 3 inches high.</option>
    <option value="No one will want to eat Veg">No one will want to eat Veg.</option>
    <option value="Someone will want to eat Veg">Someone will want to eat Veg.</option>
  </select>

  <br/>
  <label for="fear">Greatest Fear:</label>
    <select id="fear" name="fear">
    <option value="Veg will never be over 3 inches high">Veg will never be over 3 inches high.</option>
    <option value="No one will want to eat Veg">No one will want to eat Veg.</option>
    <option value="Someone will want to eat Veg">Someone will want to eat Veg.</option>
  </select>

  <br></br>

  <button type="submit" value="weird results">Veg Out</button>

</form>